<ion-content class="splash-page" fullscreen>

  <ion-grid class="ion-align-items-center ion-justify-content-center" style="height: 100%;">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%;">
      <ion-col size="12" class="ion-text-center">

        <img src="assets/logo.png" alt="App Logo" class="splash-logo">
        <h1 class="splash-title">Swipe To Match</h1>
        <p class="splash-subtitle">Meet movies nerds 🤓</p>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
