<ion-content class="details-page" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="details-card">

          <!-- User Info Form -->
          <ion-item>
            <ion-label position="floating">Full Name</ion-label>
            <ion-input [(ngModel)]="user.name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input [(ngModel)]="user.username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Age</ion-label>
            <ion-input [(ngModel)]="user.age" type="number" min="0"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Bio</ion-label>
            <ion-textarea [(ngModel)]="user.bio"></ion-textarea>
          </ion-item>

          <!-- Profile Pictures -->
          <ion-label>Profile Pictures</ion-label>
          <div class="image-preview">
            <img *ngFor="let img of user.images" [src]="img" />
          </div>
          <ion-button expand="full" (click)="pickImage()">Choose Image</ion-button>
          <ion-button expand="full" (click)="takePhoto()">Take Photo</ion-button>

          <!-- Favorite Movies -->
          <ion-item>
            <ion-label position="floating">Add Favorite Movie</ion-label>
            <ion-input [(ngModel)]="newMovie"></ion-input>
          </ion-item>
          <ion-button expand="full" (click)="addMovie()">Add Movie</ion-button>

          <ion-list style="background-color: #eeeeee;">
            <ion-item *ngFor="let movie of user.movies; let i = index">
              {{ movie }}
              <ion-button fill="clear" color="danger" slot="end" (click)="removeMovie(i)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>

          <!-- Save Button -->
          <ion-button expand="full" (click)="saveProfile()">
            Save Profile
          </ion-button>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
