<ion-content class="swipe-page" fullscreen>
  <div class="card-container">

    <div
      class="swipe-card"
      *ngFor="let user of users; let i = index"
      [style.zIndex]="users.length - i"
      (pan)="onPan($event, i)"
      (panend)="onPanEnd($event, i)"
      [ngStyle]="{
        transform: user.transform,
        transition: user.transition
      }"
    >
      <div class="card-header">
        <h2>{{ user.name }}</h2>
        <p>{{ user.age }} years old</p>
      </div>
      <img [src]="user.photo" alt="{{ user.name }}" class="card-photo" />
      <div class="card-footer">
        <ion-button fill="solid" color="danger" size="small" (click)="swipeLeft(i)">
          ✖
        </ion-button>
        <ion-button fill="solid" color="success" size="small" (click)="swipeRight(i)">
          ✔
        </ion-button>
      </div>
    </div>

  </div>
</ion-content>
